.communities-index {
  background-image: url("community-bg.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.communities-new {
  background-image: url("community-new.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
  